<div class="follow-container">
  <% @users.followers.each do |f|%>
    <div class="user-profile">
      <div class="user-list-image">
       <%= image_tag f.image.to_s %>
          <%if @current_user.following? (f)%>
            <div class="back-message">フォローしています
            </div>
          <%end%>
          </div>
          <div class="prof"> 
            <%=link_to(f.name,"/users/#{f.id}",class:"show-index")%>
          </div>
           <div class="user-profile-page">
             自己紹介してください。自己紹介してください。 自己紹介してください。 自己紹介してください。 自己紹介してください。 自己紹介してください。 
             自己紹介してください。 自己紹介してください。 
           </div> 
    </div>
          <%end%>
</div>