<div class="follow-container">


  <% @users.followers.each do |f|%>
 <div class="user-profile">
   
   <div class="user-list-image">
    <img src="<%= "/user_images/#{f.image_name}" %>">
    </div>
  <%=link_to(f.name,"/users/#{f.id}",class:"show-index")%>
    <%if @current_user.following? (f)%>
     <div class="back-message">フォローしています</div>
     <%end%>
 </div>
    <%end%>
    
</div>