<%=yield :show%>
<div class="follow-container">
 <p>フォローしています</p>

  <% @users.all_following.each do |f|%>
 <div class="user-box">
    <%= f.name%>
  
    <img src="<%= "/user_images/#{f.image_name}" %>">
 
    <%if @current_user.followed_by? (f)%>
     フォローされています
     <%end%>
 </div>
    <%end%>
    
</div>