<div class="user-list">
ユーザー一覧

<%= will_paginate %>


<% @users.each do |user| %>
<div class="user-profile">
   <div class="user-list-image">
    <img src="<%= "/user_images/#{user.image_name}"%>">
     </div>

 <%=link_to(user.name,"/users/#{user.id}",class:"show-index")%>
</div>

<%end%>

<%= will_paginate %>
<div>
