
 <div class="post-index-back">
ユーザー一覧

<%= will_paginate %>


<% @users.each do |user| %>
 <div class="post-index-back">
<div class="user-table">
<div class="user-index-box">
<div class="user-image">
    <img src="<%= "/user_images/#{user.image_name}"%>">
    
 </div>
 <%=link_to(user.name,"/users/#{user.id}",class:"show-index")%>

</div> 
</div>
<%end%>

<%= will_paginate %>

</div>