<div class="user-list">
  <%= will_paginate %>
    <% @users.each do |user| %>
      <div class="user-profile">
        <div class="user-list-image">
          <img src="<%= "/user_images/#{user.image_name}"%>">
        </div>
          <div class="prof">
            <%=link_to(user.name,"/users/#{user.id}",class:"show-index")%>
          </div>
            <div class="user-profile-page">
              自己紹介してください。自己紹介してください。 自己紹介してください。 自己紹介してください。 自己紹介してください。 自己紹介してください。 
              自己紹介してください。 自己紹介してください。 
           </div> 
      </div>
    <%end%>
  <%= will_paginate %>
</div>
 
 
