<div class="flash">

</div>
<div class="main">
<h3>ログイン</h3>
<% if @error_message%>
  <%= @error_message %>
<% end %>
<%=form_tag("/login")do%>
  <p>メールアドレス</p>
  <input name="email">
  <p>パスワード</p>
  <input type="password" name="password"><br><br>
  <input type="submit" value="ログイン" class="button1">
<% end %>  
</div>