<div class="main-top">
  <div class="main-inner">
    <div class ="infomation">
      <p><i class="fas fa-leaf fa-top fa-10x faa-horizontal animated-hover"></i></p>
      TweetAppはtwitterの疑似サイトです。
      <br><br>よろしければ呟いてみてください。
    </div>
  </div>
</div>
