<div class="new-main">
  <div class="resister-area">
    <div class="inner-area">
       <%= form_for @returns ,url: return_path,class:"edit-image"  do |f| %>
     
      <p font-size="20px">編集する</p>
       <div class="input-area">  
     <%= f.text_field :returncontent ,placeholder: @returns.returncontent %><br><br>

           <%=f.submit value:"投稿", class:"button1"%>
           </div>
      <%end%>
    </div>
  </div>
</div>

