<div class="main">

<%=form_tag("/posts/#{@posts.id}/update")do%>

  <h1 class="form-heading">編集する</h1>
    <%@posts.errors.full_messages.each do |message|%>
      <p class="errors"><%=message%></p>
    <%end%>
<textarea name="content" class="post-edit"><%=@posts.content%></textarea><br><br>
  <input type="submit" value="投稿" class="button1"></input>
<%end%>

</div>


