<div class="main">
  <p>最新のつぶやき</p>
   <% @posts.each do |post|%>
 
 <%=link_to(post.content, "/posts/#{post.id}",class:"post-index")%>
 <%=link_to(post.user.name,"/users/#{post.user.id}",class:"post-index") %>
 <br>
 <%end%>
 

</div>