<div class="main">
  <p>最新のつぶやき</p>
   <% @posts.each do |post|%>
   <% if post.user.present? %>
  <img src="<%= "/user_images/#{post.user.image_name}" %>">
 <%=link_to(post.content,"/posts/#{post.id}")%>

 <%=link_to(post.user.name, "/users/#{post.user.id}")%>
 <% end %>
 <%end%>

    

 
</div>