<div class="new-main">
  <div class="resister-area">
    <div class="inner-area">
      <p font-size="20px">投稿する</p>
        <%=form_tag("/posts/create",class: "square_btn")do%>
          <%@posts.errors.full_messages.each do |message|%>
             <p class="errors"><%=message%></p>
          <%end%>
           <textarea name="content" class="text-area"  rows="2" cols="60" wrap="hard" placeholder="今何してる？"></textarea><br><br>
           <input type="submit" value="投稿" class="button1">
        <%end%>
    </div>
  </div>
</div>