/****************     共通      ****************/

/*
 *= @import font-awesome
 */
* {
box-sizing: border-box;
/*border: 1px solid #aaa;*/
/*font-family: Impact,Charcoal ;*/
}
html {
/*background-image: url("/tweet.png");*/
/*  background-size: cover;*/
  height: 100%;
}
body {
  color: #2d3133;
  min-height: 1vh;
  margin: 0;
  height: 100%;
}
header {
  margin:0 auto;
  width: 1000px;
}
h1,h2,h3 {
  font-size:25px;
  font-family :Verdana,arial,helvetica,clean,sans-serif;
}
a {
  text-decoration: none;
   color:#8899a6;
}
input {
  -moz-box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
  -webkit-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
  box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
  width:200px;
  height:30px;
}
.input {
  width:300px;
  height:30px;
}
input:focus {
  border:solid 1px #EEA34A;
}
.text {
font-family :Verdana,arial,helvetica,clean,sans-serif;
}
p {
  font-size:20px;
  margin:0 auto;
}
.inp p {
  font-size:20px;
}
/****************     main      ****************/
.main {
  background-color:#edffd3;
}
.main-top {
  margin:0 auto;
  width:60%;
  height:50%;
  margin-top:150px;
}
.main-inner {
  text-align: center;
  margin:0 auto;
  width:50%;
  height:auto;
  background-color: white;
  border-radius: 5% ;
  opacity: 0.5;
}
.infomation {
  font-size:20px; 
  font-weight: bold;
  color:red;
  padding:20px 0 20px 0;
  font-family: 'Hiragino Kaku Gothic ProN';
}
a:hover {
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  opacity: 0.7;
}
.post-index,.post-detail,.post-edit {
  font-size:15px;
  font-family :Verdana,arial,helvetica,clean,sans-serif;
}

/****************     header     ****************/

.header-top {
  height: 35px;
  top: 0;
  width: 100%;
  background-color: white;
  margin:0 auto;
  padding:0;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
  position:fixed;
  z-index: 100;
}
.header-inner {
  width:100%;
  height:100%;
}
.header-logo {
  float: left;
  margin-top: 7px;
  color: white;
  font-size: 22px;
  font-family :Verdana,arial,helvetica,clean,sans-serif;
  margin-left:100px;
}
.header-menus{
  margin:0 auto;
  font-size: 10px;
  font-family :Verdana,arial,helvetica,clean,sans-serif;
}
.header-menus li{
  float: right;
  line-height: 35px;
  font-size: 13px;
  color: grey;
  padding-left: 0;
  position: relative;
  list-style: none;
	z-index:100;
	margin-right:20px;
	margin-left:0px;
}
.header-menus a {
  color: white;
}
.header-menus li a {
  display: block;
  width: 100px;
  text-align: center;
  color: black;
  transition: 0.5s;
  text-decoration: none;
  box-sizing: border-box;
  font-size: 18px;
}

 /******************** new ********************/

.new-main {
  width:100%;
  margin:0;
  background-color:white;
  margin:0 auto;
}
.resister-area {
  background-color:#edffd3;
  width:800px;
  margin:auto ;
  padding:70px 0;
  text-align:center;
  margin-bottom:20px;
}
.inner-area {
  width:500px;
  margin:0 auto;
  padding: 0;
  text-align:center;
  background-color:white;
  font-size: 15px;
}
.input-area {
  background-color:white;
  margin:auto ;
 }
 .text-area {
  width:440px;
  height:100px;
  margin:0 auto;
  font-size:20px;
  background-color:white;
}
 
/******************     like      *********************/

.like-btn {
  color: #8899a6;
}
.like-btn-unlike {
  color: #ff2581;
}
.posts-show-item .fa {
  font-size: 20px;
  margin-right: 3px;
}
.fa-leaf {
  color:#53ad00;
}
/******************     flash      *********************/

.flash {
  font-family :Verdana,arial,helvetica,clean,sans-serif;
  width:100%;
  font-size :25px;
  color:#01960b;
  background-color:#c2ead1;
  border-radius: 5%;
  margin:38px 0px 0px 0;
  text-align:center;
}
.errors  {
  color:red;
}

/******************     button      *********************/

.button1  {
  font-size:15px;
  font-family :Verdana,arial,helvetica,clean,sans-serif;
  padding: 6px;
  background-color: #f7628c;
  color: #fff;
  border-style: none;
  border-radius: 5%;
}
.button1:hover {
  background-color: #f9cfed;
  transition: 1.0s ;
  color: #fff;
  border-radius: 10%;
}
.button2 {
  font-size:15px;
  font-family :Verdana,arial,helvetica,clean,sans-serif;
  padding: 6px;
  background-color: #ff4500;
  color: #fff;
  border-style: none;
  border-radius: 5%;
}
.button2:hover {  /*orange*/
  background-color: #f9cfed;
  transition: 1.0s ;
  color: #fff;
  border-radius: 10%;
}
.button3 {        /*skygreen*/
  font-size:15px;
  font-family :Verdana,arial,helvetica,clean,sans-serif;
  padding: 6px;
  background-color: lime;
  color: white !important;
  border-style: none;
  border-radius: 5%;
}
.button3:hover {
  background-color: #f9cfed;
  transition: 1.0s ;
  color: white;
  border-radius: 10%;
}
.user-index-table{
  float:left; 
}  
 /***********************************************************/

.caption-d p {
  color: #006633;
  margin:0;
  width:100%;
  text-align:center;
}

 /**************      prof user      **************/

.prof-show-container {
  width: 1000px;
  height:auto;
  margin: auto;
  margin-top:50px;
}
.prof-show-container li {
  float:left;
  list-style:none;
  padding-left:5px;
  margin:auto;
}
.user-main-prof {
  margin:auto;
  width:600px;
  height:150px;
}
.prof-show-detail {
  width :80%;
  height:150px;
  background-color :white;
  margin: auto;
  position: relative;
  box-shadow: 0 2px 10px #c1ced7;
  margin-top:-5px;
}
.show-users-identfy {
  float:left;
 
}
.main-container {
  width: 1000px;
  height:auto;
  margin: auto;
}
.show-image {
  float:left;
  margin:auto;
  height:150px;
  position:relative;
  width:190px;
  text-align:center;
}
.mc-list {
  width: 1000px;
  padding: 15px 0 0 0;
  overflow: hidden;
}
.user-tabs {
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}
.user-tabs li {
  float: left;
}
.user-tabs li:active {
  border-bottom: 2px solid #3ecdc6;
}
.user-tabs li:active a {
  color: #57575f;
}
/******************      tweet               ********************/
.tweet-container {
  width:90%;
  margin-left:50px;
  background-color: aliceblue;
  float:left;
}
.tweet-main {
  width:85%;
  margin-left:auto;
  margin-right:auto;
  text-align: left;
  background-color:white;
  border-bottom: solid 1px paleturquoise;
  float:left;
}
.tweet-img {
  width:100px;
}
.tweet-user-name {
  font-size: 20px;
  float:left;
}
.tweet-image {
  width: 100px;
  float: left;
}
.tweet-content {
  word-break : break-all;
  float: left;
}
.tweet-user-time {
  font-size: 20px;
}
/*****************      folloes           ******************/
.follow-container {
  width:100%;
  float:left;
  padding-top:10px;
  margin-top:-12px;
}
.user-box {
  width:250px;
  height:300px;
  border:solid white; 
  float:left;
  margin-left: 45px;
  margin-bottom: 45px;
  box-shadow: 0 2px 6px #c1ced7;
}
/*****************      user index           ******************/
.user-container{
  width:100%;
  background-color: beige;
}
img.user-image {
  width: 100px;
  height:100px;
  border-radius: 20%;
  box-shadow: 0 2px 6px #c1ced7;
  margin: 20px 0 10px;
  text-align: center;
}
.user-index-box {
  height: 250px;
  width: 250px;
  border:solid white; 
  float:left;
  margin-left: 70px;
  margin-bottom:30px;
  box-shadow: 0 2px 6px #c1ced7;
  background-color: white;
}
.user-table {
  background-color: white;
}
.pagination {
  font-size:20px;
  text-align: center;
  clear: both;
  margin-bottom: 20px;
}
.show-index {
  font-family: cursive; 
  margin-left:auto;
  margin-right:auto;
}
/********   post/index  **************/

.post-index-back {
 background-color:#edffd3;
  height:auto;
 width:100%;
  margin: auto;
}
.post-index-cover {
  width:800px;
  margin:auto;
  min-height: 50px;
  height: auto !important;
  height: 50px;
 }
.post-main {
  width:80%;
  background-color: white;
  margin:0 auto;
  box-shadow: 0 2px 10px #c1ced7;
  border-radius:2%;
  min-height: 50px;
  height: auto !important;
  height: 50px;
  clear: both;
}
.post-main-box {
   padding: 10px;
  border: 1px solid #aaa;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  min-height: 50px;
  height: auto !important;
  height: 50px;
  display: flex;
  position: relative;

  /* 横並びに表示する */
  flex-direction: row;

  /* 画面幅に収まらない場合は折り返す */
  flex-wrap: wrap;
}

.post-index-img {
  width:130px;
  text-align:center;
  min-height: 50px;
  height: auto !important;
  position:absolute;
  top:0px;
}
.post-main-detail {
  width :100%;
  margin:0;
  float:left;
}
.post-index-content p{
  width :100%;
  min-height:70px;
  margin:0;
  float:left;
  font-size:20px;
  word-break : break-all;
}
.post-index-inner {
  position:relative;
  padding: 10px;
  width:600px;
  float:left;
  font-size: 20px;
  margin-left: 130px;
  min-height: 130px;
  height: auto !important;
  height: 130px;
}
.show-menus li{
  float:left; 
   bottom:0;
   padding-left: 10px;
}
.post-index-action {
  float:left;
  margin-bottom:-20px;
}
.action-menus li {
  float:left;
  width:50px;
  height:30px;
  text-align:center;
}
img.post-image {
  text-align:center;
  max-width:400px ;
  max-height:350px ;
  margin:  0 0 10px;
}

/*********************   userlist  **********************/
.user-list {
  width: 1000px;
  min-height:750px;
  margin: auto;
  padding-bottom: 5px;
}
.user-profile {
  width:250px;
  height:312px;
  background-color: white;
  float:left;
  margin-left: 65px;
  margin-bottom: 15px;
  box-shadow: 0 2px 6px #c1ced7;
}
.user-list-image {
  width:250px;
  height:150px;
  text-align: center;
  position: relative;
  margin-bottom: -20px;
}
.post-user-list-image {
  height:150px;
  text-align: center;
  position: relative;
  margin-bottom: -20px;
}
/*******************   pagination         *******************/
.pagination {
 width:500px;
  height:auto;
 font-size:26px;
 text-align: center;
 vertical-align: middle;
 margin: auto;
 font-family :Verdana,arial,helvetica,clean,sans-serif;
}
.pagination a{
  width:20%;
  margin:auto;
  text-align: center;
}
.pagination a:hover {
  background-color: #eaeaea;
}
.back-message {
  background-color: #eaebed;
  color:#838484;
  font-size: 13px;
  float:left;
  position: absolute;
  bottom:10px;
  margin:auto;
}
/***********************username*************************/
.user-name {
  font-size: 30px;
  font-family: Segoe UI;
}
.follow-info {
  height:50px;
  float:left;
  position: absolute;
  margin-right:10px;
	right: 0;
	bottom: 0;
}
/****************************************************************/
.show-index {
  width:100%;
  font-size: 25px;
  color:#565656;
  margin-top:-15px;
  font-family :Verdana,arial,helvetica,clean,sans-serif;
}
.prof {
  width: 100%;
  text-align:center;
  margin-top:5px;
}
.user-profile-page {
  width: 100%;
}
/**************************   footer   ********************************/
.footer {
  width:100%;
  text-align:center;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;;
  padding:10px 0; 
  font-size:15px;
  box-shadow: 0 2px 6px #c1ced7;
  height: 40px;
  background-color:white;
  float:left;
  z-index:50;
}
.nav {
  margin:-15px;
}
.footer li {
  float:left;
  list-style:none;
  padding-left:20px;
  font-size:15px;
}
.footer-2 {
  height:auto;
}
/******************  tabs  **********************/
.link {
  padding-right:20px; 
  float:right;
}
/*タブ切り替え全体のスタイル*/
.tabs {
  margin-top: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 1000px;
  margin: 0 auto;}
/*タブのスタイル*/
.tab_item {
  width: calc(100%/3);
  height: 50px;
  border-bottom: 3px solid #5ab4bd;
  background-color: #d9d9d9;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:hover {
  opacity: 0.75;
}
/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}
/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  clear: both;
  overflow: hidden;
}
/*選択されているタブのコンテンツのみを表示*/
#all:checked ~ #all_content,
#programming:checked ~ #programming_content,
#design:checked ~ #design_content {
  display: block;
}
/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: #5ab4bd;
  color: #fff;
}

/**************      about     **************/

.about {
  width:100%;
  margin:0;
  background-color:white;
}
.about-area {
 background-color:#f4ffff;
  width:1000px;
  margin:auto ;
  padding:50px 0;
}
.about-main {
  background-color:#f4ffff;
  width:800px;
  margin:auto ;
  padding:50px 0;
}

/**************************************************/

.sampleuser {
  background-color: white;
  margin:auto;
  width:500px;
}
.field_with_errors {
 display: inline;
}
p.standard-font {
  font-family :Verdana,arial,helvetica,clean,sans-serif;
}
#img_prev {
  max-width:400px;
  max-height:400px;
}

/*************** return *********************/
.return-index-cover {
  width:800px;
  margin:auto;
  min-height: 50px;
  height: auto !important;
  height: 50px;
  background-color: pink;
 }
.line {
  margin:0 auto;
  background-color:#edffd3; 
  width:500px;
  height:50px;
  border-left: black  solid 1px;
  border-right: black solid  1px;
   box-shadow: 0 2px 10px #c1ced7;
}
.line-cover {
  height:50px;
  background-color:#edffd3; 
  margin:0 auto;
}
.post-index-return-img-cover {
  width:190px;
  height:100px;
}
.post-index-return-img {
  width:50px;
  height:50px;
  float:left;
}
.return-user-image {
  width:50px;
  height:50px;
  float:left;
}
.return-index-back {
  min-height: 50px;
  height: auto !important;
  height: 50px;
  background-color: #edffd3;
  margin:0 auto;
}
.post-index-return-content {
  min-height: 30px;
  width:130px;
  float: left;
}
.post-index-return-name {
  float:left;
}
.post-index-return-cover-aug {
  min-height: 60px;
}
.return-edit {
  float:left;
}
.yohaku {
  height: 50px;
  margin:0 auto;
  background-color: #edffd3;
}
.button-return-1 {
  float:left;
  font-size:15px;
  font-family :Verdana,arial,helvetica,clean,sans-serif;
  padding: 3px;
  background-color: blue;
  color: #fff;
  border-style: none;
  border-radius: 5%;
}
.button-return-1:hover {
  background-color: #f9cfed;
  transition: 1.0s ;
  color: #fff;
  border-radius: 10%;
}
  /********* タグ*********/
 ul.ultag {
  margin: 0px;
  padding: 0;
  list-style: none;
}
 ul.ultag li {
  position: relative;
  display: inline-block;
  margin: 0 .75em .5em 0;
  padding: 0;
}
ul.ultag li a {
  position: relative;
  display: inline-block;
  max-width: 200px;
  height: 28px;
  line-height: 28px;
  padding: 0 1em;
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 3px;
  word-wrap: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #555;
  font-size: 13px;
  text-decoration: none;
  -webkit-transition: .2s;
  transition: .2s;
}
ul.ultag li span {
  position: absolute;
  top: 0;
  right: -10px;
  z-index: 2;
  width: 28px;
  height: 28px;
  line-height: 28px;
  background-color: #3498db;
  border: 1px solid #3498db;
  border-radius: 100%;
  color: #fff;
  font-size: 13px;
  text-align: center;
  opacity: 0;
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-transform: scale(.4);
  transform: scale(.4);
}
ul.ultag li span::after {
  position: absolute;
  top: 50%;
  left: -8px;
  content: '';
  width: 0;
  height: 0;
  margin-top: -7px;
  border-color: transparent #3498db transparent transparent;
  border-style: solid;
  border-width: 7px 14px 7px 0;
}
ul.ultag li a:hover {
  border: 1px solid #3498db;
  color: #3498db;
}
ul.ultag li:hover span {
  right: -26px;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.post-detail {
  float:left;
} 
.fbut {
  float:left;
  min-width:50px;
}
.user_tag {
  float:left;
  min-width:50px;
}
.tagf {
 float:left;
 height:35px;
}
.action_height {
  margin-top: 8px;
}

/***********************************************/

.index-user {
  box-shadow: 0 2px 10px #c1ced7;
  border-radius:2%;
  margin:0 auto;
  padding: 0;
  text-align:center;
  background-color:white;
  margin: 20px 20px 20px 0px;
  float:right;
  list-style: none;
}
.index-inner-area {
  width:450px;
  margin:0 auto;
  padding: 0;
  text-align:center;
  background-color:white;
  float: right;
   box-shadow: 0 2px 10px #c1ced7;
  border-radius:2%;
  margin: 20px 0px 20px 0px;
  height:400px;
}
.serch-main {
  box-shadow: 0 2px 10px #c1ced7;
  border-radius:2%;
  width:230px;
  margin:0 auto;
  padding: 0;
  text-align:center;
  background-color:white;
  margin: 0px 0px 20px 0px;
  float:left;
}

.tag-serch-main {
   box-shadow: 0 2px 10px #c1ced7;
  border-radius:2%;
  width:280px;
  padding: 0;
  text-align:center;
  background-color:white;
  float:right;
  margin: 20px 0px 0 20px;
  height:400px;

}

.itext {
  margin:0 auto;
  font-size:18px;
}
.follow-cover {
  margin-top:10px;
}
table.follow-table {
  border-top:10px;
  font-size:18px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  color: #565656;
  font-family :Verdana,arial,helvetica,clean,sans-serif;
}

.fa-top {
font-size: 30px;
}

#img_prev {
  width:100px;
  height:100px;
}

#user_remove_img {
  width:20px;
  height:20px;
}

.text-edit-area {
  width:500px;
  height:100px;
  margin:0 auto;
  font-size:20px;
  background-color:white;
}

.user-show-profile {
  width:600px;
  height:50px;
  float:left;
  margin-top: 5px;
}
.show-profile {
 word-wrap: break-word;
 width: 100%;
 height:50px;
 float:left;
 margin-top: 5px;
}
.post-index-cover-user {
  margin-bottom:10px;
  margin:auto;
  min-height: 50px;
  height: auto !important;
  height: 50px;
 }
.post-main-users {
  width:80%;
  background-color: white;
  margin:0 auto;
  box-shadow: 0 2px 10px #c1ced7;
  border-radius:2%;
  min-height: 50px;
  height: auto !important;
  height: 50px;
  clear: both;
  margin-bottom:20px;
}
.index-container-cover {
  width:1000px;
  margin:0 auto;
}
.index-container {
  width:100%;
  height:520px;
  margin:0 auto;
}
/**************** footer fix *****************/
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
footer {
  margin-top: auto;
}
/*********************/
.user-list-cover {
  width:100%;
}









